---
layout: default
title : 屈震
navbar_title: 首页
---
{% include widgets/profile_card.html %}

{% if site.data.profile.experience %}
    {% include widgets/experience_card.html %}
{% endif %}

{% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
{% if pubs.size > 0 %}
{%
    include widgets/publication_card.html
    publications=pubs
    title='<i class="fas fa-book-open"></i> 代表性论文'
%}
{% endif %}

{% assign selected_projects = site.projects | sort: "date" | reverse | where: "selected", true %}
{% if selected_projects.size > 0 %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-project-diagram"></i> 研究项目
        <a href="{{ '/projects' | relative_url }}">(查看全部 <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    {% for item in selected_projects %}
        {% assign is_last = forloop.last %}
        {% include widgets/project_item.html item=item hide_bottom_border=is_last %}
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="{{ '/projects' | relative_url }}">所有项目 <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>
{% endif %}

{% assign selected_competitions = site.competitions | sort: "date" | reverse | where: "selected", true %}
{% if selected_competitions.size > 0 %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-trophy"></i> 竞赛经历
        <a href="{{ '/competitions' | relative_url }}">(查看全部 <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    {% for item in selected_competitions %}
        {% assign is_last = forloop.last %}
        {% include widgets/competition_item.html item=item hide_bottom_border=is_last %}
    {% endfor %}
</div>
{% endif %}
